@import 'src/assets/variable'

@import url('https://fonts.googleapis.com/css?family=Didact+Gothic')
$font-theme: 'Didact Gothic'

h1, h2, h3, h4, h5, h6, div, span, a, strong, p, label, select, textarea, td, th,li, input, input::-webkit-input-placeholder, button, code
  font-family: 'Didact Gothic', 'Microsoft JhengHei', 'monospace', 'Fontawesome'

pre
  &>code
    font-size: 16px
div[data-role="html-content"]
  font-size: 16px

.table-inverse
  &>thead
    &>tr
      background-color: lighten($black, 15%)
      &>th
        color: $white

span[data-role="mark"]
  color: $theme-color
  font-weight: bolder

button.btn.btn-flat
  border-radius: 0
  outline: none
  &:active
    outline: none

.form-control.flat
  border-radius: 0